#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        WF {
            bindings = <&kp UNDERSCORE>;
            key-positions = <1 2>;
        };

        FP {
            bindings = <&kp KP_MINUS>;
            key-positions = <2 3>;
        };

        LU {
            bindings = <&kp APOSTROPHE>;
            key-positions = <6 7>;
        };

        UY {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <7 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Letters {
            bindings = <
  &kp Q  &kp W  &kp F    &kp P    &kp G      &kp J      &kp L      &kp U      &kp Y    &kp SEMI
  &kp A  &kp R  &kp S    &kp T    &kp D      &kp H      &kp N      &kp E      &kp I    &kp O
  &kp Z  &kp X  &kp C    &kp V    &kp B      &kp K      &kp M      &kp COMMA  &kp DOT  &kp FSLH
                &kp TAB  &kp RET  &kp ESC    &kp EQUAL  &kp SPACE  &kp BSPC
            >;
        };

        FN {
            bindings = <
  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &trans  &trans  &trans  &trans  &trans
  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans  &trans  &trans  &trans  &trans
  &kp F11  &kp F12  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        Sym {
            bindings = <
  &trans        &kp LS(UNDER)  &kp MINUS      &kp EQUAL     &trans           &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &trans         &kp SQT       &kp BSLH      &kp LBKT      &kp RBKT
  &kp GRAVE     &trans         &trans         &trans        &trans           &trans         &kp LS(DQT)   &kp LS(PIPE)  &kp LS(LBRC)  &kp LS(RBRC)
                               &trans         &trans        &trans           &trans         &trans        &trans
            >;
        };
    };
};

